In [1]:
import pandas as pd
import numpy as np
import os
import glob

## prepare / combining data

In [2]:
path=glob.glob('Dataset\*.csv')
dataframes = []
for file in path:
    dataframes.append(pd.read_csv(file))
    
df=pd.concat(dataframes,ignore_index=True)
df.to_csv("cyclistic-0723-0724.csv",index=False)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6483343 entries, 0 to 6483342
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: float64(4), object(9)
memory usage: 643.0+ MB

In [10]:
cdf=pd.read_csv(r"Dataset\202307-divvy-tripdata.csv")
cdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 767650 entries, 0 to 767649
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             767650 non-null  object
 1   rideable_type       767650 non-null  object
 2   started_at          767650 non-null  object
 3   ended_at            767650 non-null  object
 4   start_station_name  644707 non-null  object
 5   start_station_id    644707 non-null  object
 6   end_station_name    637346 non-null  object
 7   end_station_id      637346 non-null  object
 8   start_lat           767650 non-null  float64
 9   start_lng           767650 non-null  float64
 10  end_lat             766396 non-null  float64
 11  end_lng             766396 non-null  float64
 12  member_casual       767650 non-null  object
dtypes: float64(4), object(9)
memory usage: 76.1+ MB

In [23]:
# cdf["started_at"] = pd.to_datetime(cdf["started_at"])
# cdf["ended_at"] = pd.to_datetime(cdf["ended_at"])
cdf["ride_length"] = cdf["ended_at"] - cdf["started_at"]

#cdf["ride_length"]=cdf["ride_length"].apply(lambda x: str(x).split(" ")[-1])  #// it will give HH:MM:SS formt but change timedelta to object
cdf.head()

In [25]:
cdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 767650 entries, 0 to 767649
Data columns (total 14 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             767650 non-null  object
 1   rideable_type       767650 non-null  object
 2   started_at          767650 non-null  datetime64[ns]
 3   ended_at            767650 non-null  datetime64[ns]
 4   start_station_name  644707 non-null  object
 5   start_station_id    644707 non-null  object
 6   end_station_name    637346 non-null  object
 7   end_station_id      637346 non-null  object
 8   start_lat           767650 non-null  float64
 9   start_lng           767650 non-null  float64
 10  end_lat             766396 non-null  float64
 11  end_lng             766396 non-null  float64
 12  member_casual       767650 non-null  object
 13  ride_length         767650 non-null  timedelta64[ns]
dtypes: datetime64[ns](2), float64(4), object(7), timedelta64[ns](1)
memory usage: 82.0+ MB